* {
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

body {
    font-family: 'Source Sans Pro', sans-serif;
}

h1,
legend {
    font-family: 'Playfair Display', serif;   
    font-size:1.30em; 
    font-weight: 600;
}

.container
{
    width: 90%;
    margin: 0 auto;
}

h1,
legend
{
    color: #2b3946fa;
}

p {
    opacity: 50%;
    font-size: 1.05em;
    font-weight: 300;
}

 fieldset {
    display: flex;
    flex-direction: column;
    border: 0;
    padding: 0;
    margin: 0;
} 

label{
    font-weight: 300;
    font-size: 1.10em;
    opacity: 70%;
}

input[type="text"],
input[type="email"],
input[type="tel"],
select,
textarea {
    background: rgba(255,255,255,0.1);
    border: none;
    background-color: #f1f1f1;
    padding: 15px;
    border-radius: 4px;
    width:100%;
}

.contact-info input[type="text"]:last-child{
    width:50%;
}

input:focus,
select:focus,
textarea:focus {
    outline-color: #48739bfa;
} 

input::placeholder {
    font-size: .90em;
    text-align: right;
    font-style: italic;
    font-weight: 200;
    padding-right: 5px;
    opacity: 60%
}

select {
    /* In order to change the default drop down arrow from the select 
       input, I got help from the website link below
       https://medium.com/@ferie/cross-browser-custom-select-tag-arrow-3b41d1f731f3 
    */
    appearance: none;
    background-image: url("../images/sort-solid.svg");
    background-repeat: no-repeat;
    background-position: 97% center;
    background-size: auto 35%;
    /***************** ************************/
}

/* 
    to style the placeholder for select I used the website below for help
    https://www.w3docs.com/tools/code-editor/2592
    I gave the slect html tag the required boolean attribute wtiched allowed me to 
    style the placeholder during the select's false state by using the :invalid pseudo-class.
    I know I could of just styled the select element without using any bolean attributes and
    pseudo-classes, I just thought the method I found online was smoother and more effective
    for future use.
*/
select:invalid{
    color:rgb(165, 165, 165);
    font-weight: 300;
}


/********** header layout ***********/

#header-title {
    text-align: center;
    
}
.logo {
    background-color: #2b3946fa;
    padding-top: 10px;
    padding-bottom: 10px;;
}

.logo h1{
    color: white;
}
.header-intro {
    margin-top: 25px;
}

.header-intro h1 {
    margin-bottom: 10px;
}

.header-intro p {
    margin: 0;    
}

.header-border {
    margin-top: 35px;
    height: 3px;
    border-top: 4px solid black; 
    border-bottom: 2px solid black;
    border-left: none;
    border-right: none;
}

/************* main/form layout ****************/

/* contact information layout */
.form-wrapper {
    margin-top: 25px;
}

legend {
    padding-bottom: 20px;
}

.contact-info label {
    padding-bottom: 10px;
}

.contact-info label:nth-last-child(-n+12) {
    padding-top: 20px;
}

/* horizantol line */
.mid-section {
    margin-top: 25px;
    border-top: 2px solid black;

}

/* newsletter layout*/
.newsletter legend {
    padding-top: 15px;
}
.newsletter-wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    margin: 0 auto;
    width:95%;
    padding-bottom: 10px;
}
.title-section {
    flex-basis: 100%;
    padding-bottom: 15px;

}
.title-section,
label[for="other_topics"]
{
    font-size: 1.05em;
    line-height: 1.5;
}
.title-section:nth-child(8){
    padding-top:15px;
}

.title-item{
    flex-basis: 95%;
    padding-left: 13px;
    padding-bottom: 10px;
    font-size:1.05em;
}
/* input[type="radio"], */
span,
input[type="checkbox"] {
    opacity: 70%;
    flex-basis: 4%;
} 

input[type="radio"] {
    opacity: 0;
    position:fixed;
    width: 0;
}
span {
    border-radius: 50%;
    
   
    border: 1px solid rgba(0, 0, 0, 0.6);
    height: 13px;
    width:13px;
    
    max-width: 13px; 
    max-height: 13px; 

}
input[type="radio"]:checked + span {
    border-color: #217cf3;
    border-width: 5px; 
}



/* other topics/button layout */
label[for="other_topics"] {
    padding-bottom: 10px;
   
}

textarea{
    resize:none;
    overflow: auto;
}
button{

}